
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>teste</title>
    <style>
        table {
            page-break-inside: avoid;
            max-width:520px
        }

        td {
            page-break-inside: avoid;
        }

    

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group
        }
    </style>
</head>

<body>

    <p style='margin-top: 0cm; margin-right: 0cm; margin-bottom: 6.0pt; margin-left: 0cm; line-height: 115%; font-size: 13px; font-family: "Times New Roman",serif; text-align: right; '>
    <img src="@URLLOGOOPERADORA" style="width: 160px;"></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;text-align:right;'><br></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;text-align:right;'><span style='font-family:"Arial",sans-serif;'>@CIDADENEGATIVA, @DATANEGATIVA.</span></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-family:"Arial",sans-serif;'>Assunto: Negativa de Autoriza&ccedil;&atilde;o para Realiza&ccedil;&atilde;o de Procedimento M&eacute;dico</span></strong></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-family:"Arial",sans-serif;'>Caro(a) Sr(a),</span></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;text-align:justify;'><span style='font-family:"Arial",sans-serif;'>Em atendimento &agrave; RN 395 da Ag&ecirc;ncia Nacional de Sa&uacute;de Suplementar (ANS) e conforme sua solicita&ccedil;&atilde;o, a Postal Sa&uacute;de informa os motivos para a negativa de autoriza&ccedil;&atilde;o de seu procedimento, conforme normas vigentes e regulamento do seu plano de sa&uacute;de.</span></p>
    <p style='margin:0cm;margin-bottom:6.0pt;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-family:"Arial",sans-serif;'>&nbsp;</span></p>

    <div style="width:200px; padding-right:200px">
        <table style="width:100%;border: none;margin-left:-3.0pt;border-collapse:collapse;">
            <tbody>
                <tr>
                    <td colspan="4" style="width:35%;border:solid black 1.0pt;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>DADOS DO BENEFICI&Aacute;RIO</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="width:30%;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>Nome</span></strong></p>
                    </td>
                    <td style="width:20%;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>Carteirinha</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="width:30%;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:16px;font-family:"Calibri",sans-serif;color:black;'>@NOMEBENEFICIARIO</span></p>
                    </td>
                    <td style="width:20%;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-family:"Arial",sans-serif;'>&nbsp;</span><span style='font-size:11px;font-family:"Tahoma",sans-serif;color:black;'>@CARTEIRINHABENEFICIARIO</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="width:35%;border:solid black 1.0pt;border-top:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>DADOS DO PRESTADOR</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="width:30%;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>Nome ou Raz&atilde;o Social</span></strong></p>
                    </td>
                    <td style="width:20%;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>CNPJ</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="width:30%;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Tahoma",sans-serif;color:black;'>@NOMEPRESTADOR</span></p>
                    </td>
                    <td style="width:20%;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-family:"Arial",sans-serif;'>&nbsp;</span><span style='font-size:11px;font-family:"Tahoma",sans-serif;color:black;'>@CODIGOPRESTADOR</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="width:30%;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>Munic&iacute;pio</span></strong></p>
                    </td>
                    <td style="width:20%;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>UF</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="width:30%;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Tahoma",sans-serif;color:black;'>@MUNICIPIOPRESTADOR</span></p>
                    </td>
                    <td style="width:20%;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'>@UFPRESTADOR</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="width:35%;border:solid black 1.0pt;border-top:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>DADOS DO ATENDIMENTO</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:261.6pt;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>Tipo de Evento Solicitado</span></strong></p>
                    </td>
                    <td colspan="2" style="width:267.65pt;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif'>Car&aacute;ter do Atendimento</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:261.6pt;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Tahoma",sans-serif;color:red;'>Cir&uacute;rgica</span><span style='font-family:"Arial",sans-serif;color:black;'>&nbsp;</span></p>
                    </td>
                    <td colspan="2" style="width:267.65pt;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-family:"Arial",sans-serif;color:black;'>&nbsp;</span><span style='font-size:11px;font-family:"Tahoma",sans-serif;color:red;'>Eletivo</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:261.6pt;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>N&uacute;mero da Solicita&ccedil;&atilde;o / Senha</span></strong></p>
                    </td>
                    <td colspan="2" style="width:267.65pt;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>N&uacute;mero do Protocolo Padr&atilde;o ANS</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:261.6pt;border-top:none;border-left:  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:16px;font-family:"Calibri",sans-serif;color:red;'>104666040</span></p>
                    </td>
                    <td colspan="2" style="width:267.65pt;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-family:"Arial",sans-serif;color:red;'>&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="width:35%;border:solid black 1.0pt;border-top:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>DADOS DO ATENDIMENTO</span></strong></p>
                    </td>
                </tr>
                @CONTEUDOPROCEDIMENTONEGADO
                <tr>
                    <td colspan="4" style="width:35%;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:11.35pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:normal;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:11px;font-family:  "Arial",sans-serif;'>Justificativa</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="width:35%;border:solid black 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.65pt;height:22.7pt;">
                        <p style='margin:0cm;margin-bottom:.0001pt;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;text-align:justify;'><span style='font-family:"Arial",sans-serif;'>@OBSOPERADORA</span></p>
                    </td>
                </tr>
                <tr>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p style='margin:0cm;margin-bottom:.0001pt;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'>&nbsp;</p>
    <p style='margin:0cm;margin-bottom:.0001pt;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'>Atenciosamente,</p>
    <p style='margin:0cm;margin-bottom:.0001pt;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'>&nbsp;</p>
    <p style='margin:0cm;margin-bottom:.0001pt;line-height:115%;font-size:13px;font-family:"Times New Roman",serif;'>Ger&ecirc;ncia de Regula&ccedil;&atilde;o</p>

</body>
</html>