@{
    Layout = null;
}

<body style="background: #ffffff;">
    <center>
        <a style="float: right;    color: #013a67; font-size:13px;    text-decoration: unset;" href="../Swagger">SwaggerIU Versão 0.2.S</a>
        <img src="../Content/Directto.jpeg" style="width:30%; height:30%;padding-top:100px" />
    </center>
</body>

